/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #17171c; /* Fondo oscuro para que resalte la nota */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Importante para que el padding no rompa el diseño */
}

#root {
    height: 100vh;
    display: grid;
    place-items: center;
}

main {
    background-color: #e0dfdc; /* Color amarillo tipo Post-it */
    /* Quitamos el aspecto de celular y lo hacemos más ancho */
    width: 90%;
    max-width: 500px;
    min-height: 500px;
    height: auto; 
    
    padding: 2rem;
    border-radius: 2px; /* Menos redondeado, más papel */
    
    /* Sombra que parece que el papel flota */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    
    /* Efecto de borde de papel */
    border-left: 5px solid #7b7a78; 
    position: relative;
}

/* Opcional: Agregar líneas de cuaderno */
.list-group-item {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #e0d9a0 !important;
    text-align: left;
    padding: 10px 5px !important;
}

.encabezado h1 {
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px dashed #999;
}
